<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="ui error message">
	<div class="header">
		There were some problems with your access
	</div>	
	<p>You can't request results of another user</p>
	<a href="/quiz/">Home Page</a>
</div>