<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="ui  equal width grid">
  <div class="four wide centered column">
    <div class="colomn">
      <form class="ui form" action="/quiz/login/check/" method="POST">
      {% csrf_token %}
        <div class="field">
          <label for="uname">Username</label>
          <input type="text" name="uname" placeholder="Enter Username" required>
        </div>
        <div class="field">
          <label for="psw">Password</label>
          <input type="password" name="psw" placeholder="Password" required>
        </div>
        <div class="inline fields">
          <button class="ui button left floated" type="submit">Submit</button>
          <button class="ui yellow button right floated" onclick="window.location.href='/quiz/register/'">Sign up</button>
      </form>

        </div>
    {% if log %}
    <div class="ui negative message">
      <i class="close icon"></i>
      <div class="header">
      {{ log }} or <a href="/quiz/register/">Register</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.message .close').on('click', function() {
        $(this).closest('.message').fadeOut();
      });
  });
</script>