<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<link rel="stylesheet" href="quiz.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% if result %}
<div class="ui middle aligned centered aligned grid">
  <div class="four wide column">
    <div class="ui segment">
      <form class="ui massive form" action="/quiz/{{ level_id }}/tests/{{ test_id }}/results/" method="POST">	
    	{% csrf_token %}
    	{% for block in result %}
	    	<div class="grouped fields">
	    	  <label for="{{ block.question.id }}" style="line-height: 30px">{{ block.question.question_text }}</label>
			  {% for answer in block.answers %}
		  		<div class="field">
            {% if answer in block.correct_answer and block.type != 'tf' %}
            <input class='gr' type="hidden" value="green">
            {% elif answer in block.chosen_answer and not block.is_correct %} 
            <input class='red' type="hidden" value="red">
            {% endif %}
            {% if block.type == 'ch' %}
              <div class="ui checkbox">
                <input type="checkbox" id="answer_{{ answer.id }}" name="{{ block.question.id }}"  tabindex="0"  value="{{ answer.id }}" disabled>
                <label for="answer_{{ answer.id }}">{{ answer }}</label>
              </div>
            {% elif block.type == 'rd' %}
              <div class="ui huge radio checkbox">
                <input type="radio" id="answer_{{ answer.id }}" name="{{ block.question.id }}"  tabindex="0"  value="{{ answer.id }}" disabled>
                <label for="answer_{{ answer.id }}">{{ answer }}</label>
              </div>
            {% elif block.type == 'tf' %}
              <div class="field">
                <div class="ui input gr">
                  <input type="text" name="{{ block.question.id }}" value="{{ answer }}" disabled>
                </div>
              </div>
              {% if not block.is_correct %}
                <div class="field">
                  <div class="ui input red">
                    <input type="text" name="{{ block.question.id }}" value="{{ block.chosen_answer }}" disabled>
                  </div>
                </div>
              {% endif %}
            {% endif %}
         </div>
        {% endfor %}
		  	</div>  
	    {% endfor %}
	    </form>
    </div>
    <div class="button-container">
    {% if user_group != 'guest' %}
      <button class="ui teal button" onclick="window.location.href='/quiz/user_result/'">My results</button>
    {% endif %}
      <button class="ui olive button" onclick="window.location.href='/quiz/level/'">Start another test</button>
    </div>
   </div>
</div>
{% endif %}

<script>
  $(document).ready(function() {

    $(".gr").parent().css("background-color", "green");
    $(".red").parent().css("background-color", "red");

  });
</script>