<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<link rel="stylesheet" href="quiz.css">

{% if test_questions %}
<div class="ui middle aligned centered aligned grid">
  <div class="four wide column">
    <div class="ui segment">
      <form class="ui massive form" action="/quiz/{{ level_id }}/tests/{{ test_id }}/results/" method="POST">	
    	{% csrf_token %}
    	{% for question in test_questions %}
	    	<div class="grouped fields">
	    	  <label for="{{ question.title.id }}" style="line-height: 30px">{{ question.title.question_text }}</label>
          {% if question.type == 'tf' %}
          <div class="ui input">
            <input type="text" name="{{ question.title.id }}" required>
          </div>
          {% endif %}
			  {% for answer in question.answers %}
          {% if question.type == 'ch' %}
		  		<div class="field">
      			    <div class="ui checkbox">
        				<input type="checkbox" id="answer_{{ answer.id }}" name="{{ question.title.id }}"  tabindex="0"  value="{{ answer.id }}">
        				<label for="answer_{{ answer.id }}">{{ answer }}</label>
      				</div>
   				 </div>
           {% elif question.type == 'rd' %}
            <div class="field">
                <div class="ui huge radio checkbox">
                <input type="radio" id="answer_{{ answer.id }}" name="{{ question.title.id }}"  tabindex="0"  value="{{ answer.id }}" required>
                <label for="answer_{{ answer.id }}">{{ answer }}</label>
              </div>
           </div>
           {% endif %}
        	{% endfor %}
		  	</div>  
	    {% endfor %}
	<div>
		<button class="ui button" type="submit">Submit</button>
	</div>
	</form>
    </div>
   </div>
</div>
{% endif %}

<script>
  $(document).ready(function() {
    $('.ui.form').form({
      fields: {
        checkbox: {
          identifier: 'checkbox',
          rules: [
          {
            type: 'checked',
            prompt: 'Please check the checkbox'
          }
          ]
        }
      }
    });

  });
</script>