<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

<table class="ui celled padded table">
  <thead>
    <tr><th class="single line">User</th>
    <th>Test Id</th>
    <th>Correct</th>
    <th>Wrong</th>
  </tr></thead>
  <tbody>
  	{% for level, result in result_numbers.items %}
     {% for test_number in result %}
    <tr>
      <td class="single line">
        {{ test_number.1 }}
      </td>
	  <td class="single line">
        <a href="/quiz/{{ level }}/tests/{{ test_number.0.test_id }}/results/">{{ test_number.0.test_id }}</a>
      </td>
      <td class="single line">
        {{ test_number.0.correct }}
      </td>
      <td class="single line">
        {{ test_number.0.wrong }}
      </td>
    </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>